<div class="comparisonPricingTable" id="maincontentpricetable">
  <table>
    <thead>
      <tr>
        <th class="tablelist"></th>
        <th class="comparePriceHeader">
          <span class="title"> Basic </span>
        </th>
        <th class="comparePriceHeader makeRelative">
          <div class="bestValueCard">
            <span>BEST VALUE</span>
          </div>
          <span class="title">Business</span>
        </th>
        <th class="comparePriceHeader">
          <span class="title"> Pro</span>
        </th>
      </tr>
      <tr>
        <th></th>
        <th class="priceDetail">
          <div class="priceCurrent">
            <span>$297</span>
          </div>
          <div class="billedYearly">billed yearly</div>
          <div>
            <a href="#" class="priceBuyNow basic ripple"
              >Buy <span class="is-hide-mobile">Basic</span></a
            >
          </div>
        </th>
        <th class="priceDetail">
          <div class="priceCurrent">
            <span>$697</span>
          </div>
          <div class="billedYearly">billed yearly</div>
          <div>
            <a href="#" class="priceBuyNow business ripple"
              >Buy <span class="is-hide-mobile">Business</span></a
            >
          </div>
        </th>
        <th class="priceDetail">
          <div class="priceCurrent">
            <span>$977</span>
          </div>
          <div class="billedYearly">billed yearly</div>
          <div>
            <a href="#" class="priceBuyNow pro ripple"
              >Buy <span class="is-hide-mobile">Pro</span></a
            >
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="collapse">
      <tr>
        <td></td>
        <td colspan="3">
          <span class="title">General <span class="question"></span></span>
          <span>
            <a href="#collapseExample" class="collapse-header-general"
              ><span class="mdi mdi-apple-keyboard-control"></span
            ></a>
          </span>

          <span class="info"
            ><i class="triangle"></i>This is a sample of info card for general.
            Other products not applied</span
          >
        </td>
      </tr>
      <tr class="compare-row">
        <td class="makePadding " id="general">
          <span>
            <a href="#collapseExample" class="collapse-header-general"
              ><span class="mdi mdi-apple-keyboard-control"></span
            ></a>
          </span>

          <span class="title">General <span class="question"></span></span>
          <span class="info"
            ><i class="triangle"></i>This is a sample of info card for general.
            Other products not applied</span
          >
        </td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
      </tr>
      <tr class="mobile-content-general">
        <td>&nbsp;</td>
        <td colspan="3">Number of sites</td>
      </tr>

      <tr class="collapse-content-general">
        <td class="makePadding">Number of sites</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>

      <tr class="mobile-content-general">
        <td>&nbsp;</td>
        <td colspan="3">Team members</td>
      </tr>
      <tr class="collapse-content-general">
        <td class="makePadding">Team members</td>
        <td>0</td>
        <td>3</td>
        <td>10</td>
      </tr>

      <tr class="mobile-content-general">
        <td>&nbsp;</td>
        <td colspan="3">Media Manager</td>
      </tr>
      <tr class="collapse-content-general">
        <td class="makePadding">Media Manager</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-general">
        <td>&nbsp;</td>
        <td colspan="3">3rd party integrations</td>
      </tr>
      <tr class="collapse-content-general">
        <td class="makePadding">3rd party integrations</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-general">
        <td>&nbsp;</td>
        <td colspan="3">'Powered by' logo</td>
      </tr>
      <tr class="collapse-content-general">
        <td class="makePadding">'Powered by' logo</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td colspan="3">
          <span class="title"
            >Funnel Builder <span class="question"></span
          ></span>
          <span>
            <a href="#collapseExample" class="collapse-header-funnel"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
        </td>
      </tr>
      <tr class="compare-row">
        <td class="makePadding" id="funnelBuilder">
          <span>
            <a href="#collapseExample" class="collapse-header-funnel"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
          <span class="title"
            >Funnel Builder <span class="question"></span
          ></span>
        </td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
      </tr>

      <tr class="mobile-content-funnel">
        <td>&nbsp;</td>
        <td colspan="3">Number of funnels</td>
      </tr>

      <tr class="collapse-content-funnel">
        <td class="makePadding">Number of funnels</td>
        <td>10</td>
        <td>100</td>
        <td>500</td>
      </tr>

      <tr class="mobile-content-funnel">
        <td>&nbsp;</td>
        <td colspan="3">Number of templates group</td>
      </tr>

      <tr class="collapse-content-funnel">
        <td class="makePadding">Number of templates group</td>
        <td>5</td>
        <td>15</td>
        <td>99999</td>
      </tr>

      <tr class="mobile-content-funnel">
        <td>&nbsp;</td>
        <td colspan="3">Unique visitors</td>
      </tr>

      <tr class="collapse-content-funnel">
        <td class="makePadding">Unique visitors</td>
        <td>25,000</td>
        <td>100,000</td>
        <td>Unlimited</td>
      </tr>

      <tr class="mobile-content-funnel">
        <td>&nbsp;</td>
        <td colspan="3">Split testing</td>
      </tr>

      <tr class="collapse-content-funnel">
        <td class="makePadding">Split testing</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-funnel">
        <td>&nbsp;</td>
        <td colspan="3">Mobile optimizer</td>
      </tr>

      <tr class="collapse-content-funnel">
        <td class="makePadding">Mobile optimizer</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-funnel">
        <td>&nbsp;</td>
        <td colspan="3">In-built conversion tools</td>
      </tr>

      <tr class="collapse-content-funnel">
        <td class="makePadding">In-build conversion tools</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-funnel">
        <td>&nbsp;</td>
        <td colspan="3">HTML download</td>
      </tr>

      <tr class="collapse-content-funnel">
        <td class="makePadding">HTML download</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-funnel">
        <td>&nbsp;</td>
        <td colspan="3">Save as template</td>
      </tr>

      <tr class="collapse-content-funnel">
        <td class="makePadding">Save as template</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-funnel">
        <td>&nbsp;</td>
        <td colspan="3">Clone page</td>
      </tr>

      <tr class="collapse-content-funnel">
        <td class="makePadding">Clone page</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-funnel">
        <td>&nbsp;</td>
        <td colspan="3">Transfer funnels</td>
      </tr>

      <tr class="collapse-content-funnel">
        <td class="makePadding">Transfer funnels</td>
        <td></td>
        <td></td>
        <td><span class="check"></span></td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td colspan="3">
          <span class="title"
            >Product Builder <span class="question"></span
          ></span>
          <span>
            <a href="#collapseExample" class="collapse-header-products"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
        </td>
      </tr>

      <tr class="compare-row">
        <td class="makePadding">
          <span>
            <a href="#collapseExample" class="collapse-header-products"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
          <span class="title"
            >Product Builder <span class="question"></span
          ></span>
        </td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
      </tr>

      <tr class="mobile-content-products">
        <td>&nbsp;</td>
        <td colspan="3">Number of products</td>
      </tr>

      <tr class="collapse-content-products">
        <td class="makePadding">Number of products</td>
        <td>10</td>
        <td>50</td>
        <td>250</td>
      </tr>

      <tr class="mobile-content-products">
        <td>&nbsp;</td>
        <td colspan="3">Membership module products</td>
      </tr>

      <tr class="collapse-content-products">
        <td class="makePadding">Membership module products</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-products">
        <td>&nbsp;</td>
        <td colspan="3">Digital products</td>
      </tr>

      <tr class="collapse-content-products">
        <td class="makePadding">Digital products</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-products">
        <td>&nbsp;</td>
        <td colspan="3">Instasuite Checkout (Stripe & Paypal)</td>
      </tr>

      <tr class="collapse-content-products">
        <td class="makePadding">Instasuite Checkout (Stripe & Paypal)</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-products">
        <td>&nbsp;</td>
        <td colspan="3">Multiple price points</td>
      </tr>

      <tr class="collapse-content-products">
        <td class="makePadding">Multiple price points</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-products">
        <td>&nbsp;</td>
        <td colspan="3">Coupons and discounts</td>
      </tr>

      <tr class="collapse-content-products">
        <td class="makePadding">Coupons and discounts</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-products">
        <td>&nbsp;</td>
        <td colspan="3">Automation actions</td>
      </tr>

      <tr class="collapse-content-products">
        <td class="makePadding">Automation actions</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-products">
        <td>&nbsp;</td>
        <td colspan="3">Digital product delivery - Email</td>
      </tr>

      <tr class="collapse-content-products">
        <td class="makePadding">Digital product delivery - Email</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-products">
        <td>&nbsp;</td>
        <td colspan="3">Digital product delivery - Redirect URL</td>
      </tr>

      <tr class="collapse-content-products">
        <td class="makePadding">Digital product delivery - Redirect URL</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-products">
        <td>&nbsp;</td>
        <td colspan="3">Digital product delivery - Upload File</td>
      </tr>

      <tr class="collapse-content-products">
        <td class="makePadding">Digital product delivery - Upload File</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-products">
        <td>&nbsp;</td>
        <td colspan="3">Digital product delivery - ISPDN</td>
      </tr>

      <tr class="collapse-content-products">
        <td class="makePadding">Digital product delivery - ISPDN</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-products">
        <td>&nbsp;</td>
        <td colspan="3">Export orders to csv</td>
      </tr>

      <tr class="collapse-content-products">
        <td class="makePadding">Export orders to csv</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td colspan="3">
          <span class="title"
            >Membership Builder <span class="question"></span
          ></span>
          <span>
            <a href="#collapseExample" class="collapse-header-membership"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
        </td>
      </tr>

      <tr class="compare-row">
        <td class="makePadding">
          <span>
            <a href="#collapseExample" class="collapse-header-membership"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
          <span class="title"
            >Membership Builder <span class="question"></span
          ></span>
        </td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
      </tr>

      <tr class="mobile-content-membership">
        <td>&nbsp;</td>
        <td colspan="3">Number of themes</td>
      </tr>

      <tr class="collapse-content-membership">
        <td class="makePadding">Number of themes</td>
        <td>1</td>
        <td>3</td>
        <td>5</td>
      </tr>

      <tr class="mobile-content-membership">
        <td>&nbsp;</td>
        <td colspan="3">Number of members</td>
      </tr>

      <tr class="collapse-content-membership">
        <td class="makePadding">Number of members</td>
        <td>1,000</td>
        <td>5,000</td>
        <td>100,000</td>
      </tr>

      <tr class="mobile-content-membership">
        <td>&nbsp;</td>
        <td colspan="3">In-built SMTP</td>
      </tr>

      <tr class="collapse-content-membership">
        <td class="makePadding">In-built SMTP</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-membership">
        <td>&nbsp;</td>
        <td colspan="3">Member tags</td>
      </tr>

      <tr class="collapse-content-membership">
        <td class="makePadding">Member tags</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-membership">
        <td>&nbsp;</td>
        <td colspan="3">Drip-feed</td>
      </tr>

      <tr class="collapse-content-membership">
        <td class="makePadding">Drip-feed</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-membership">
        <td>&nbsp;</td>
        <td colspan="3">Member progress tracking</td>
      </tr>

      <tr class="collapse-content-membership">
        <td class="makePadding">Member progress tracking</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-membership">
        <td>&nbsp;</td>
        <td colspan="3">Quiz tracking</td>
      </tr>

      <tr class="collapse-content-membership">
        <td class="makePadding">Quiz tracking</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-membership">
        <td>&nbsp;</td>
        <td colspan="3">Design editor</td>
      </tr>

      <tr class="collapse-content-membership">
        <td class="makePadding">Design editor</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td colspan="3">
          <span class="title">List Builder <span class="question"></span></span>
          <span>
            <a href="#collapseExample" class="collapse-header-lists"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
        </td>
      </tr>

      <tr class="compare-row">
        <td class="makePadding">
          <span>
            <a href="#collapseExample" class="collapse-header-lists"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
          <span class="title">List Builder <span class="question"></span></span>
        </td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
      </tr>

      <tr class="mobile-content-lists">
        <td>&nbsp;</td>
        <td colspan="3">SMTP setup</td>
      </tr>

      <tr class="collapse-content-lists">
        <td class="makePadding">SMTP setup</td>
        <td>own</td>
        <td>own</td>
        <td>own</td>
      </tr>

      <tr class="mobile-content-lists">
        <td>&nbsp;</td>
        <td colspan="3">Number of lists</td>
      </tr>

      <tr class="collapse-content-lists">
        <td class="makePadding">Number of lists</td>
        <td>10</td>
        <td>100</td>
        <td>Unlimited</td>
      </tr>

      <tr class="mobile-content-lists">
        <td>&nbsp;</td>
        <td colspan="3">Number of subscribers</td>
      </tr>

      <tr class="collapse-content-lists">
        <td class="makePadding">Number of subscribers</td>
        <td>1,000</td>
        <td>5,000</td>
        <td>100,000</td>
      </tr>

      <tr class="mobile-content-lists">
        <td>&nbsp;</td>
        <td colspan="3">Blacklist domain, email, IP</td>
      </tr>

      <tr class="collapse-content-lists">
        <td class="makePadding">Blacklist domain, email, IP</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-lists">
        <td>&nbsp;</td>
        <td colspan="3">Block role-based email</td>
      </tr>

      <tr class="collapse-content-lists">
        <td class="makePadding">Block role-based email</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-lists">
        <td>&nbsp;</td>
        <td colspan="3">Manual/Bulk Import</td>
      </tr>

      <tr class="collapse-content-lists">
        <td class="makePadding">Manual/Bulk Import</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-lists">
        <td>&nbsp;</td>
        <td colspan="3">List segmentation</td>
      </tr>

      <tr class="collapse-content-lists">
        <td class="makePadding">List segmentation</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-lists">
        <td>&nbsp;</td>
        <td colspan="3">Automations</td>
      </tr>

      <tr class="collapse-content-lists">
        <td class="makePadding">Automations</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-lists">
        <td>&nbsp;</td>
        <td colspan="3">Optin forms</td>
      </tr>

      <tr class="collapse-content-lists">
        <td class="makePadding">Optin forms</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-lists">
        <td>&nbsp;</td>
        <td colspan="3">Broadcasts</td>
      </tr>

      <tr class="collapse-content-lists">
        <td class="makePadding">Broadcasts</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-lists">
        <td>&nbsp;</td>
        <td colspan="3">Sequences</td>
      </tr>

      <tr class="collapse-content-lists">
        <td class="makePadding">Sequences</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-lists">
        <td>&nbsp;</td>
        <td colspan="3">Save email templates</td>
      </tr>

      <tr class="collapse-content-lists">
        <td class="makePadding">Save email templates</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td colspan="3">
          <span class="title">Blog Builder <span class="question"></span></span>
          <span>
            <a href="#collapseExample" class="collapse-header-blog"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
        </td>
      </tr>

      <tr class="compare-row">
        <td class="makePadding">
          <span>
            <a href="#collapseExample" class="collapse-header-blog"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
          <span class="title">Blog Builder <span class="question"></span></span>
        </td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
      </tr>

      <tr class="mobile-content-blog">
        <td>&nbsp;</td>
        <td colspan="3">Number of themes</td>
      </tr>

      <tr class="collapse-content-blog">
        <td class="makePadding">Number of themes</td>
        <td>1</td>
        <td>3</td>
        <td>3</td>
      </tr>

      <tr class="mobile-content-blog">
        <td>&nbsp;</td>
        <td colspan="3">Number of posts</td>
      </tr>

      <tr class="collapse-content-blog">
        <td class="makePadding">Number of posts</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
      </tr>

      <tr class="mobile-content-blog">
        <td>&nbsp;</td>
        <td colspan="3">Widgets</td>
      </tr>

      <tr class="collapse-content-blog">
        <td class="makePadding">Widgets</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-blog">
        <td>&nbsp;</td>
        <td colspan="3">Menu</td>
      </tr>

      <tr class="collapse-content-blog">
        <td class="makePadding">Menu</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-blog">
        <td>&nbsp;</td>
        <td colspan="3">Theme customization</td>
      </tr>

      <tr class="collapse-content-blog">
        <td class="makePadding">Theme customization</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-blog">
        <td>&nbsp;</td>
        <td colspan="3">Post categories</td>
      </tr>

      <tr class="collapse-content-blog">
        <td class="makePadding">Post categories</td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>
      <!-- AFFILIATE CENTER -->
      <tr>
        <td>&nbsp;</td>
        <td colspan="3">
          <span>
            <span class="title"
              >Affiliate Center <span class="question"></span
            ></span>
            <a href="#collapseExample" class="collapse-header-affiliate"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
        </td>
      </tr>

      <tr class="compare-row">
        <td class="makePadding">
          <span>
            <a href="#collapseExample" class="collapse-header-affiliate"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
          <span class="title"
            >Affiliate Center <span class="question"></span
          ></span>
        </td>
        <td><span class="title">NO</span></td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
      </tr>

      <tr class="mobile-content-affiliate">
        <td>&nbsp;</td>
        <td colspan="3">Number of affiliates</td>
      </tr>

      <tr class="collapse-content-affiliate">
        <td class="makePadding">Number of affiliates</td>
        <td>0</td>
        <td>1000</td>
        <td>5000</td>
      </tr>

      <tr class="mobile-content-affiliate">
        <td>&nbsp;</td>
        <td colspan="3">Number of themes</td>
      </tr>

      <tr class="collapse-content-affiliate">
        <td class="makePadding">Number of themes</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
      </tr>

      <tr class="mobile-content-affiliate">
        <td>&nbsp;</td>
        <td colspan="3">In-built SMTP</td>
      </tr>

      <tr class="collapse-content-affiliate">
        <td class="makePadding">In-built SMTP</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-affiliate">
        <td>&nbsp;</td>
        <td colspan="3">Promotion Tools</td>
      </tr>

      <tr class="collapse-content-affiliate">
        <td class="makePadding">Promotion Tools</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-affiliate">
        <td>&nbsp;</td>
        <td colspan="3">Manage Commissions</td>
      </tr>

      <tr class="collapse-content-affiliate">
        <td class="makePadding">Manage Commissions</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-affiliate">
        <td>&nbsp;</td>
        <td colspan="3">Theme customization</td>
      </tr>

      <tr class="collapse-content-affiliate">
        <td class="makePadding">Theme customization</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <!-- SUPPORT DESK -->
      <tr>
        <td>&nbsp;</td>
        <td colspan="3">
          <span class="title">Support Desk <span class="question"></span></span>
          <span>
            <a href="#collapseExample" class="collapse-header-support"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
        </td>
      </tr>

      <tr class="compare-row">
        <td class="makePadding">
          <span>
            <a href="#collapseExample" class="collapse-header-support"
              ><span class="mdi mdi-apple-keyboard-control rotateText"></span
            ></a>
          </span>
          <span class="title">Support Desk <span class="question"></span></span>
        </td>
        <td><span class="title">NO</span></td>
        <td><span class="title">YES</span></td>
        <td><span class="title">YES</span></td>
      </tr>

      <tr class="mobile-content-support">
        <td>&nbsp;</td>
        <td colspan="3">Number of staff</td>
      </tr>

      <tr class="collapse-content-support">
        <td class="makePadding">Number of staff</td>
        <td>0</td>
        <td>3</td>
        <td>10</td>
      </tr>

      <tr class="mobile-content-support">
        <td>&nbsp;</td>
        <td colspan="3">Number of themes</td>
      </tr>

      <tr class="collapse-content-support">
        <td class="makePadding">Number of themes</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
      </tr>

      <tr class="mobile-content-support">
        <td>&nbsp;</td>
        <td colspan="3">Number of canned responses</td>
      </tr>

      <tr class="collapse-content-support">
        <td class="makePadding">Number of canned responses</td>
        <td>0</td>
        <td>20</td>
        <td>100</td>
      </tr>

      <tr class="mobile-content-support">
        <td>&nbsp;</td>
        <td colspan="3">In-built SMTP</td>
      </tr>

      <tr class="collapse-content-support">
        <td class="makePadding">In-built SMTP</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>

      <tr class="mobile-content-support">
        <td>&nbsp;</td>
        <td colspan="3">Knowledgebase</td>
      </tr>

      <tr class="collapse-content-support">
        <td class="makePadding">Knowledgebase</td>
        <td></td>
        <td><span class="check"></span></td>
        <td><span class="check"></span></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th class="priceDetail">
          <div>
            <a href="#" class="priceBuyNow basic ripple"
              >Buy <span class="is-hide-mobile">Basic</span></a
            >
          </div>
        </th>
        <th class="priceDetail">
          <div>
            <a href="#" class="priceBuyNow business ripple"
              >Buy <span class="is-hide-mobile">Business</span></a
            >
          </div>
        </th>
        <th class="priceDetail">
          <div>
            <a href="#" class="priceBuyNow pro ripple"
              >Buy <span class="is-hide-mobile">Pro</span></a
            >
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
