@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Noto+Sans:400,400i,700,700i&display=swap");
@import "./media.scss";

body {
  font-family: "Noto Sans", sans-serif;
  background: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}
#maincontentpricetable {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(223, 221, 221, 0.8);
  -moz-box-shadow: 0px 0px 15px 0px rgba(223, 221, 221, 0.8);
  box-shadow: 0px 0px 15px 0px rgba(223, 221, 221, 0.8);
  background-color: #ffffff;
}
a.collapse-header {
  text-decoration: none;
  color: #777777;
}
.showDefault {
  display: block;
}
.rotateText {
  &::before {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
}

.mdi-apple-keyboard-control {
  color: #777 !important;
}
.is-hide-mobile {
  @include for-phone-only {
    display: none;
  }
}
// .is-hide-desktop {
//   @include for-desktop-up {
//     display: none !important;
//   }

//   @include for-tablet-portrait-up {
//     display: none !important;
//   }
// }
