.comparisonPricingTable {
  max-width: 940px;
  margin: 50px auto 0;
  font: 13px/1.4 "Noto Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-bottom: 30px;
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    border-bottom: 1px solid #efefef;
  }

  td,
  th {
    border-right: 1px solid #efefef;
    empty-cells: show;
    padding: 10px;
    color: #777777;
    border-bottom: 1px solid #efefef;
    &:last-child {
      border-right: none;
    }
  }
}

.comparePriceHeader {
  font-size: 18px;
  font-weight: bold !important;
  border-bottom: 0 !important;
  padding-top: 30px !important;
  font-family: "Montserrat", sans-serif;
}
.makeRelative {
  position: relative !important;
}
.comparisonPricingTable {
  tbody tr:nth-child(odd) {
    display: none;
  }

  .info {
    background-color: #000000;
    position: absolute;
    display: none;
    padding: 5px;
    color: #fff;
    font-weight: 300 !important;
    width: 80%;
    top: -5px;
    right: -200px;
    .triangle {
      position: absolute;
      top: 15px;
      left: -8px;
      height: 0;
      border-style: solid;
      border-width: 7.5px 10px 7.5px 0;
      border-color: transparent #000000 transparent transparent;
    }
  }

  .compare-row {
    background: #f7f7f7;
    border-bottom: 1px solid #efefef;
    span {
      font-weight: bold;
    }
  }

  .tickblue {
    color: #0078c1;
  }

  .tickgreen {
    color: #009e2c;
  }

  th {
    font-weight: normal;
    padding: 0;
    border-bottom: 1px solid #efefef;
    position: relative;
    &:last-child {
      border-right: none;
    }
  }

  tr td:first-child {
    text-align: left;
  }

  .txtHeader,
  .bestValueText,
  .tablelist {
    color: #fff;
    padding: 10px;
    font-size: 13px;
    border-right: 1px solid #efefef;
    border-bottom: 0;
  }

  .tlNoBorder {
    border-right: 0;
  }

  .txtHeader {
    background: #0078c1;
    border-top-left-radius: 3px;
    border-left: 0px;
  }

  .bestValueText {
    background: #009e2c;
    border-top-right-radius: 3px;
    border-right: 0px;
  }

  .priceDetail {
    padding: 5px 15px 15px 15px;
  }

  .billedYearly {
    color: #999;
    font-size: 12px;
    margin-top: 10px;
  }

  .priceCurrent {
    color: #ff5406;

    span {
      color: #636363;
      font-size: 32px;
      font-family: "Montserrat", sans-serif;
    }
  }

  .priceSmall {
    font-size: 18px !important;
    position: relative;
    top: -11px;
    left: 2px;
  }

  .priceBuyNow {
    background: #ff5406;
    padding: 10px 20px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 25px 0 10px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 70%;
    transition: 0.5s;
    outline: none;
    background-position: center;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;

    &:hover {
      box-shadow: #e9e9e9 0px 20px 20px 0px;
      transform: translatey(-10px);
      cursor: pointer;
    }

    &:active {
      background-color: #6eb9f7;
      background-size: 100%;
      transition: background 0s;
    }
  }

  .basic {
    background-color: #7d6e99 !important;
  }

  .business {
    background-color: #a7ca1a !important;
  }

  .pro {
    background-color: #4c7da5 !important;
  }

  .bestValueCard {
    font-size: 12px;
    padding: 5px 0;
    background-color: #a7ca1a;
    color: #fff;
    font-weight: bold;
    top: -27px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
  }
}

a.collapse-header-general {
  color: #777 !important;
}

.collapse-content {
  display: none;
}
.makePadding {
  padding: 10px 0px 10px 35px !important;
  color: #777777;
  position: relative;
  span {
    font-weight: bold;
  }
}

span.title {
  color: #000000 !important;
}
.question {
  background-image: url("../images/question.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}
.check {
  background-image: url("../images/check.png");
  width: 20px;
  height: 15px;
  display: inline-block;
}

@media (max-width: 767px) {
  span.title {
    color: #000000 !important;
    font-weight: bold;
  }

  .comparisonPricingTable {
    td:first-child,
    th:first-child {
      display: none;
    }

    tbody tr:nth-child(odd) {
      display: table-row;
      background: #f7f7f7;
    }

    .row {
      background: #fff;
    }

    td,
    th {
      border: 1px solid #efefef;
    }
  }

  .priceDetail {
    border-top: 0 !important;
  }
}

@media (max-width: 639px) {
  span.title {
    color: #000000 !important;
    font-weight: bold;
  }
  .comparisonPricingTable {
    .priceBuyNow {
      padding: 5px 10px;
    }

    td,
    th {
      padding: 10px 5px;
    }

    .priceCurrent span {
      font-size: 16px;
    }

    .priceSmall {
      font-size: 16px !important;
      top: 0;
      left: 0;
    }

    .txtHeader,
    .bestValueText {
      font-size: 12px;
      padding: 10px 5px;
    }

    .priceBuyNow {
      margin-top: 10px;
    }
  }

  .comparePriceHeader {
    font-size: 13px;
  }
}
